<div style="text-align:center; font-size:80%;">
    {{cabecera.emisorNombre}} NIF: {{cabecera.emisorNif}} /
    {{cabecera.emisorDireccion}} ({{cabecera.emisorCodPostal}}) {{cabecera.emisorPoblacion}} 
    [{{cabecera.emisorProvincia}}]
    
</div>
<div style='text-align:center'>{#pageNum}</div>