<table width="100%">
    <tr>
        <td width="60%" style="font-family: Arial, Georgia, Serif; margin:0px;">
            <h3>{{cabecera.emisorNombre}}</h3>
            <div>{{cabecera.emisorDirección}}</div>
            <div>{{cabecera.emisorCodPostal}} {{cabecera.emisorPoblacion}}</div>
            <h4>NIF: {{cabecera.emisorNif}}</h4>
        </td>
        <td width="40%" style="padding-bottom:2px;text-align:right;">
            <div>
            	<img src='{#image LogoRedFincas}' style="height:100px;"/>
            </div>            
        </td>
    </tr>
</table>
