<meta charset="utf-8">
<!-- #CSS Links -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!--
<link rel="stylesheet" href="http://localhost:9000/ficheros/css/bootstrap.min.css">
img src='{#image sierra_guadarrama}'
-->
<img img src='{#image sierra_guadarrama}' style="display:none;"/>
<style>
    .cuadro {
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 1px solid #000000;
        padding: 10px;
    }
    .borderless td, .borderless th {
        border: none;
    }    
</style>
<div>
    <table class="table">
        <tr >
            <td width="60%">
                <div>
                    <h4><strong>{{cabecera.receptorNombre}}</strong></h4>
                    <div>
                        NIF: {{cabecera.receptorNif}}
                    </div>
                    <div>{{cabecera.receptorDireccion}}</div>
                    <div>{{cabecera.receptorCodPostal}} {{cabecera.receptorPoblacion}}</div>
                    <div>{{cabecera.receptorProvincia}}</div>
                </div>   
                <br/>
                <div style="text-align:justify;">
                    <div>Nº FRA: {{cabecera.numFact}}  FECHA: {{cabecera.fecha}}<div>
                    <div style="font-size:small;">PERIODO: {{cabecera.periodo}} </div>
                    <div style="font-size:small;">FORMA DE PAGO: {{cabecera.formaPago}}</div>
                    <div style="font-size:small;">VENCIMIENTO: {{cabecera.vencimiento}} </div>
                </div>                
            </td>
            <td width="40%">
                <div>{{cabecera.receptorNombre}}</div>
                <div>{{cabecera.postalTipoVia}} {{cabecera.postalDireccion}}</div>
                <div>{{cabecera.postalCodPostal}} {{cabecera.postalPoblacion}}</div>
                <div>{{cabecera.postalProvincia}}</div>
            </td>
        </tr>
    </table>
    <div>
       INMUEBLE: {{cabecera.direccion2}} ({{cabecera.codPostal2}} {{cabecera.poblacion2}}) {{cabecera.provincia2}}
    </div>
    <table class="table table-stripped table-forum">
        <thead class="txt-color-blue">
            <tr>
                <th>CONCEPTO</th>
                <th style="text-align:right;">IMPORTE</th>
            </tr>
        </thead>        
    </table>
    {{#each tipos}}
    <h4>IVA {{nombre}}</h4>
    <table class="table table-stripped table-forum">
        <tbody>
            {{#each lineas}}
            <tr>
                <td style="border:none;">{{descripcion}}</td>
                <td style="border:none; text-align:right;" width='20%'>{{totalLinea}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table> 
    {{/each}}
    <table class="table table-stripped table-forum">
        <tbody>
            <tr>
                <td colspan="3" style="border:none;"></td>
                <td style="border:none; text-align:right;">TOTAL :</td>
                <td style="text-align:right;">{{cabecera.total}}</td>
            </tr>             
        </tbody>
    </table>
    <table class="table table-stripped table-forum">
        <thead class="txt-color-blue">
            <tr>
                <th style="text-align:right;">BASE</th>
                <th style="text-align:right;">%IVA</th>
                <th style="text-align:right;">IVA</th>
            </tr>
        </thead>
        <tbody>
            {{#each bases}}
            <tr>
                <td style="border:none; text-align:right;">{{base}}</td>
                <td style="border:none; text-align:right;">{{porcentaje}}</td>
                <td style="border:none; text-align:right;">{{cuota}}</td>
            </tr>
            {{/each}}
            <tr>
                <td colspan="3" style="border:none;"></td>
                <td style="border:none; text-align:right;">TOTAL A ABONAR :</td>
                <td style="text-align:right;">{{cabecera.totalConIva}}</td>
            </tr>
        </tbody>
    </table>   
   <table class="table">
        <tr>
            <td>
                <p>Observaciones:</p>
                <p>{{cabecera.observaciones}}</p>
            </td>
        </tr>
   </table>             
</div>